
{{extend 'layout.html'}}


{{ if auth.is_logged_in(): }}
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <a href="#" class="thumbnail">
        <img src="../static/images/usr.png" alt="...">
      </a>
      <div class="panel panel-default">
      <div class="panel-body">
        Team: <!-- Insert code here to display team name--> <br>
        Role: <!-- Insert code here to display role name-->
      </div>
      </div>
    </div>

    <div class="col-md-9">
    <div class="jumbotron">
      <h1>Hi, {{=auth.user.first_name}} </h1>
      <p>Welcome back!<p>
    </div>
    </div>
  </div>








  <div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <a class="btn btn-default" href="{{=URL('default','show_sprint')}}">Current Sprint</a>
      <a class="btn btn-default" href="{{=URL('sprint', 'create_sprint')}}">Create Sprint</a>
      <a class="btn btn-default" href="{{=URL('sprint', 'view_all')}}">View Sprints</a>
      <a class="btn btn-default" href="{{=URL('story', 'new_story')}}">New Story</a>
      <a class="btn btn-default" href="{{=URL('team', 'backlog')}}">Prod. Backlog</a>
      <a class="btn btn-default" href="{{=URL('team', 'viewteam')}}">View Team</a>
      <a class="btn btn-default" href="{{=URL('team', 'createteam')}}">Create Team</a>
      <a class="btn btn-default" href="{{=URL('team','invitemembers')}}">Invite Members</a>
      <a class="btn btn-default" href="{{=URL('team', 'acceptinvite')}}">Accept Invites</a>
      <a class="btn btn-default" href="{{=URL('team', 'manageteam')}}">Manage Team</a>
    </div>
  </div>
  </div>

</div>






{{ else: }}
  <div class="jumbotron">
    <h1>Welcome to scrumLite!</h1>
    <p>An organizational tool for small to medium sized software development
    teams.</p>
  </div>
  <div class="row">
  <div class="col-lg-12">
    <p>
      This site was made using web2py.
    </p>
  </div>
  </div>

  <!-- <a href="http://127.0.0.1:8000/scrumLite/teamform/form">New Team</a><br>
  <a href="http://127.0.0.1:8000/scrumLite/newuserstory/New_User_Story">New User Story</a><br>
  <a href="http://127.0.0.1:8000/scrumLite/chooseteam/selectTeam">Set Current Team (Broken)</a><br>
  <a href="http://127.0.0.1:8000/scrumLite/teamform/view_team">View Team</a><br>
  <a href="http://127.0.0.1:8000/scrumLite/newuserstory/scrumboard">Scrum Board</a><br> -->
{{ pass }}
