{{extend 'layout.html'}}

<a class="btn btn-default" href="{{=URL('team', 'viewteam')}}">View Team</a><br></br>
<a class="btn btn-default" href="{{=URL('team', 'createteam')}}">Create Team</a><br></br>
<a class="btn btn-default" href="{{=URL('team','invitemembers')}}">Invite Members</a><br></br>
<a class="btn btn-default" href="{{=URL('team', 'acceptinvite')}}">Accept Invites</a><br></br>
<a class="btn btn-default" href="{{=URL('team', 'manageteam')}}">Manage Team</a><br></br>
<a class="btn btn-default" href="{{=URL('sprint', 'create_sprint')}}">Create Sprint</a>
