{{extend 'layout.html'}}
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<h4> Sprint Info: </h4>
  <p> <b>Name</b>: {{=A(sprint.sprint_goal, _href=URL('sprint', 'show_sprint', args=sprint.id))}}</p>
  <p> <b>End Date</b>: {{=sprint.end_date}}
<!--Product Backlog-->
    <div class="row">
      <div class="col-md-3">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Product Backlog</h3>
          </div>

          <div class="panel-body">
            <!--Product Backlogs-->
            <div class="list-group">
            {{if backlogs != None:}}
            {{for story in backlogs:}}
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#example1">

            {{=story.user_story}}
            {{pass}}
            {{pass}}
          </a>
              <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="example1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-footer">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{=story.user_story}}</h4>
                      </div>
                      <div class="modal-body">
                        <p>Team: First {{=story.team_id}}</p>
                        <p>Created By: {{=story.created_by}}</p>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

<!--Scrumboard-->
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">User Stories and Tasks</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User Story</th>
                  <th>To Do</th>
                  <th>In Progress</th>
                  <th>Completed</th>
                </tr>
              </thead>
               {{for story in stories:}}

              <tbody>
                <tr>
                  <!--Priority Number-->
                  <td>{{=story.id}}</td>

                  <!--User Stories-->
                  <td>
                    <!--data-target and id on the modal must have same nme for animations to work-->
                    <div class="well btn" data-toggle="modal" data-target="#example2">
              {{=A(story.user_story, _href=URL('story', 'show_story', args=story.id))}}
                    </div>
                    <!--id here must match data-target-->
                    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="example2">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-footer">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">{{=story.user_story}}</h4>
                            </div>
                            <div class="modal-body">
                              <p>One fine body…</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                   <!--To Do-->
                  <td>
                    {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "To do":}}
              <div class="well btn" data-toggle="modal" data-target="#todo">
              {{=A(task.name, _href=URL('story', 'show_task', args=task.id))}} 
              </div><br>

              {{pass}}
              {{pass}}

              {{pass}}
                  </td>

                   
                  <!--In Progress-->
                  <td>
                    {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "In progress":}}
              <div class="well btn" data-toggle="modal" data-target="#todo">
              {{=A(task.name, _href=URL('story', 'show_task', args=task.id))}} 
              </div><br>
              {{pass}}
              {{pass}}
              {{pass}}
                  </td>
                  <!--Completed-->
                  <td>
                {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "Done":}}
              <div class="well btn" data-toggle="modal" data-target="#todo">
              {{=A(task.name, _href=URL('story', 'show_task', args=task.id))}} 
              </div><br>
              {{pass}}
              {{pass}}
              {{pass}}
                  </td>
                </tr>
              </tbody>
              {{pass}}
            </table>
          </div>
        </div>
      </div>
    </div>

  <!--         !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


{{ data_url = URL('plugin_google_chart','plugin_return_data.json',user_signature=True)}}
{{ options ={'title':'Days vs. Story Points','width':0,'height':0} }}
<div class="span6">
{{=LOAD('plugin_google_chart','plugin_google_chart.load',ajax=True,
        user_signature=True,vars={'type':'line','data_url':data_url,
        'options_dict':options})}}
</div>