{{extend 'layout.html'}}
{{if story.sprint_id is not None:}}
{{=A('View Sprint Page', _href=URL('sprint', 'show_sprint', args=story.sprint_id))}}
{{pass}}
<h2>User Story:</h2>
<p>{{=story.user_story}}</p>
<p> <b>Story points</b>: {{=story.story_points}}</p>

{{if story.backlogged == False:}}
<h2><button>{{=A("Move this story to the backlog", _href=URL("move_to_backlog", args=story.id))}}</button></h2>
{{else:}}
<h2> Assign Story to Sprint:</h2>
{{=movestory}}
{{pass}}
<h2> Tasks </h2>
{{for task in tasks:}}
<ul>
{{=LI(A(task.name, _href=URL("show_task", args=task.id)))}}
</ul>
{{pass}}
<h3>Add a task: </h3>
{{=form}}
