{{extend 'layout.html'}}
<h3>Showing Sprint: {{=sprint.sprint_goal}}</h3>
<p>Start Date: {{=sprint.start_date}}</p>
<p>End Date: {{=sprint.end_date}}</p>

<button>{{=A('Add Story', _href=URL('story', 'new_story', args=sprint.id))}}</button>

<h3>Related User Stories: </h3>
{{for story in stories:}}
{{=LI(A(story.user_story, _href=URL('story', 'show_story', args=story.id)))}}
{{pass}}

{{extend 'layout.html'}}
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<h3> Sprint Info: </h3>
  <p> Name: {{=A(sprint.sprint_goal, _href=URL('sprint', 'show_sprint', args=sprint.id))}}</p>
  <p> End Date: {{=sprint.end_date}}
<div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Product Backlog</h3>
          </div>
          <div class="panel-body">
            <!--Product Backlogs-->
            <div class="panel panel-default">
            <div class="panel-body">
{{if backlogs != None:}}
{{for story in backlogs:}}
{{=LI(A(story.user_story, _href=URL('story', 'show_story', args=story.id)))}}
{{pass}}
{{pass}}
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="panel panel-default">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>User Story</th>
                <th>To Do</th>
                <th>In Progress</th>
                <th>Completed</th>
              </tr>
            </thead>
            {{for story in stories:}}
            <tbody>
              <tr>
                <!--Priority Number-->
                <td>{{=story.id}}</td>

                <!--User Stories-->
                <td>
                  <div class="panel panel-default">
                  <div class="panel-body">
              {{=LI(A(story.user_story, _href=URL('story', 'show_story', args=story.id)))}}
                  </div>
                  </div>
                </td>
                <!--To Do-->
                <td>
                  <div class="panel panel-default">
                  <div class="panel-body">
                    {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "To do":}}
              {{=LI(A(task.name, _href=URL('story', 'show_task', args=task.id)))}}
              {{pass}}
              {{pass}}
              {{pass}}
                  </div>
                  </div>
                </td>
                <!--In Progress-->
                <td>
                  <div class="panel panel-default">
                  <div class="panel-body">
                  {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "In progress":}}
              {{=LI(A(task.name, _href=URL('story', 'show_task', args=task.id)))}}
              {{pass}}
              {{pass}}
              {{pass}}
                  </div>
                  </div>
                </td>
                <!--Completed-->
                <td>
                <div class="panel panel-default">
                <div class="panel-body">
                {{for task in tasks:}}
              {{if task.story_id==story.id:}}
              {{if task.status == "Done":}}
              {{=LI(A(task.name, _href=URL('story', 'show_task', args=task.id)))}}
              {{pass}}
              {{pass}}
              {{pass}}
              </div>
                  </div>
                </td>
              </tr>
            </tbody>
                          {{pass}}

         </table>
        </div>
      </div>
    </div>
  </div>
  <!--         !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


{{ data_url = URL('plugin_google_chart','plugin_return_data.json',user_signature=True)}}
{{ options ={'title':'Days vs. Story Points','width':0,'height':0} }}
<div class="span6">
{{=LOAD('plugin_google_chart','plugin_google_chart.load',ajax=True,
        user_signature=True,vars={'type':'line','data_url':data_url,
        'options_dict':options})}}
</div>
